


.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 40px 0;
}
.content {
  justify-content: center;
  margin: 0 auto;
  display: flex;
  padding: 40px;
  gap: 30px;
}
.info {
  max-width: 600px;
}
.btn {
  display: flex;
  margin: 0 auto;
  padding: 40px;
  justify-content: center;
  gap: 40px;
}
.btn ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style-type: none;
}
.btn .link {
  border: 1px solid gray;
  padding: 12px;
  margin-left: 24px;
  border-radius: 8px;
  color: purple;
  &&:hover {
    background: #c8b1c8;
  }
  min-width: 120px;
  text-align: center;
}
.active {

  background: #f2d3f4;
}