.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color:hotpink;
  color: aliceblue;
  font-size: 36px;
  font-weight: 700;
}
.nav {
  list-style: none;
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: blueviolet;
}

.activeLink {
  text-decoration: underline;
  color: red; 
}
.active {
  color: rgb(243, 238, 240);
}